<nav class="cd-nav-container" id="cd-nav">
            <header>
                <h3>Navigation</h3>
                <a href="#0" class="cd-close-nav">Close</a>
            </header>
            <ul class="cd-nav list-unstyled">
                <li class="cd-selected" data-menu="index">
                    <a href="/users">
                        <span>
                            <i class="fa fa-group"></i>
                        </span>
                        <p>Users</p>
                    </a>
                </li>
                <li data-menu="profile">
                    <a href="/resources">
                        <span>
                            <i class="fa fa-list"></i>
                        </span>
                        <p>Resources</p>
                    </a>
                </li>
                <li data-menu="inbox">
                    <a href="maintenance/visits">
                        <span>
                            <i class="fa fa-suitcase"></i>
                        </span>
                        <p>Maintenance Visits</p>
                    </a>
                </li>
                <li data-menu="#">
                    <a href="/maintenance/agencies">
                        <span>
                            <i class="fa fa-building"></i>
                        </span>
                        <p>Maintenance Agencies</p>
                    </a>
                </li>
                <li data-menu="#">
                    <a href="/services">
                        <span>
                            <i class="fa fa-cubes"></i>
                        </span>
                        <p>Services</p>
                    </a>
                </li>
                <li data-menu="calendar">
                    <a href="/sales">
                        <span>
                            <i class="fa fa-cart-plus"></i>
                        </span>
                        <p>Sales</p>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="cd-overlay"></div>